.fixture {
  background-color: #1a1c20;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.fixture-home,
.fixture-away {
  width: 35%;
}
.fixture-score {
  width: 30%;
}
.venue {
  width: 20%;
}
